build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-00d96972205df84b86e2.json
build/.cmake/api/v1/reply/cmakeFiles-v1-2c83ca895db2afef6929.json
build/.cmake/api/v1/reply/codemodel-v2-425324b1d41482567a00.json
build/.cmake/api/v1/reply/directory-.-Debug-2b9d35861efa422a610f.json
build/.cmake/api/v1/reply/index-2024-02-07T06-04-56-0947.json
build/.cmake/api/v1/reply/target-client_autogen_timestamp_deps-Debug-07c886e578d4c311428f.json
build/.cmake/api/v1/reply/target-client_autogen-Debug-eee47b9fe326c47ef338.json
build/.cmake/api/v1/reply/target-client-Debug-eba1789876062b20ec2e.json
build/.cmake/api/v1/reply/toolchains-v1-a2904c2398fb9530b017.json
build/CMakeFiles/clean_additional.cmake
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.22.1/CMakeSystem.cmake
build/CMakeFiles/3.22.1/CompilerIdCXX/a.out
build/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/client_autogen.dir/AutogenInfo.json
.vscode/settings.json
src/build/*